# Public URL, used for OG Image when running nuxt generate
NUXT_PUBLIC_SITE_URL=

# Nodix API
NUXT_NODIX_API_TOKEN=
NUXT_NODIX_STRIPE_WEBHOOK_URL=

# Stripe
STRIPE_SECRET_KEY=
NUXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=
